# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
build/
develop-eggs/
dist/
eggs/
*.egg-info/
.installed.cfg
*.manifest
*.spec

# Editors and IDEs
.vscode/
.idea/
*.swp
*~
.DS_Store

# FastAPI specific
.mypy_cache/
.pytest_cache/
htmlcov/
.coverage